body {
  background-color: #6b6464;
}
h1 {
  color: white;
}
.button {
  background-color: #730101;
  border: none;
  color: white;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 8px 4px;
  cursor: pointer;
}

/*.home {background-color: #4CAF50;} Green */
/*.weather {background-color: #008CBA;} Blue */
/*.game {background-color: #4CAF50;} Green */
/*.quiz {background-color: #008CBA;} Blue */
