body {
  background-color: black;
}
h1 {
  color: white;
}
.button {
  background-color: #730101;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 6px 4px;
  cursor: pointer;
}

/*.home {background-color: #4CAF50;} Green */
/*.weather {background-color: #008CBA;} Blue */
/*.game {background-color: #4CAF50;} Green */
/*.quiz {background-color: #008CBA;} Blue */
